apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  annotations:
    kompose.cmd: kompose convert
    kompose.version: 1.19.0 (f63a961c)
  creationTimestamp: null
  labels:
    io.kompose.service: omdb-movie-api
  name: omdb-movie-api
spec:
  replicas: 1
  strategy: {}
  template:
    metadata:
      annotations:
        kompose.cmd: kompose convert
        kompose.version: 1.19.0 (f63a961c)
      creationTimestamp: null
      labels:
        io.kompose.service: omdb-movie-api
    spec:
      containers:
      - env:
        - name: PORT
          value: "5000"
        image: msawastian/omdb_movies_rest_api_v2:1.0.1
        name: omdb-movie-api
        ports:
        - containerPort: 5000
        resources: {}
      restartPolicy: Always
status: {}
